.productCard { 
    font-size: 90%;
    background-color: rgb($amarillo,0.65);
    @include caja-flex(center, center, nowrap);
    flex-direction: column;
    height: 320px;
    border-radius: 15px;
    margin: 10px;
    padding: 30px;

    .productImg {
        border-radius: 15px;
        padding-top: 5px;
        height:200px;
        width: 300px;
        margin-bottom: 15px;
    }

    h4 {
        border-bottom: $negro 1px solid;
    }
}

.priceContainer {
    margin-top: 25px;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .productCard {
        height: 200px;
        width: 200px;
        padding: 10px;
        margin: 0px;
        .productImg {
            height: 100px;
            width: 150px;
            margin: 0px;
            padding: 0px;
        }
    }
}