.galeryContainer { 
    @include caja-grid-3(400px, auto, 20px);
    // justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    img {
        border: $amarillo 10px solid;
        border-radius: 5px;
        @include transition-1(transform, 0.75s, ease);
        width: "400px"; 
        height: "250px";
        &:hover {
            transform: scale(1.05);
        }
    }
}
