.galeryContainer { 
    @include caja-flex(center, center, wrap);
}

.imgContainer {
    border: $amarillo 10px solid;
    border-radius: 5px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
}

.imgElement {
    @include transition-1(transform, 0.75s, ease);
    width: 400px;
    height: 250px;
}

.imgElement:hover{
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .galeryContainer {
        @include caja-grid-2(175px, auto, 20px);
    }

    .imgContainer {
        border: $amarillo 5px solid;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
        margin: 0px;

    }
    
    .imgElement {
        width: 175px;
        height: 100px;
    }
}
