.ant-collapse {
    width: 80%;
    background-color:$rosado ;
    background-image: url('https://i.imgur.com/Wmff3ve.png');
    background-size: 100%;
    background-repeat: space;
    font-family: 'Sansita Swashed', cursive;
    margin-bottom: 40px;

}

.ant-collapse-content-box {
    background-color: rgb($rosado, 0.75);
}