.createProductForm {
    .input {
        margin-top: 20px;
        width: 250px;
        display: flex;
        align-items:  space-between;
        justify-content: space-between;
        flex-direction: column;
    }

}