.footerInfo {
    h4 {
        border-bottom: $negro solid 1px;
        border-radius: 5px;
    }
}

.productInfo {
    h4 {
        border-bottom: $negro solid 1px;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .footerInfo {
        width: 65%;
        margin: 0 auto;
    }

    .productInfo {
        margin: 0px;
        padding: 0px;
    }
}