.informationContent {
    h4 {
        border-bottom: $negro solid 1px;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .informationContent {
        width: 65%;
        margin: 0 auto;
    }
}