.productCardList {
    @include caja-flex(center, center, wrap);
    width: 80%;
}

@media (max-width: 600px) {
    .productCardList {
        @include caja-grid-2(175px, auto, 40px);
        margin: 0px;
        padding-right: 5%;
    }
}

@media (max-width: 420px) {
    .productCardList {
        @include caja-flex(center, center, wrap);
        margin: 0px;
        padding-right: 5%;
    }
}
