.createButton {
    @include button_style($amarillo);
}

.cancelButton {
    @include button_style($rosado);
}

.scheduleButton {
    @include button_style($amarillo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}
