.footerItems {
    @include caja-flex(flex-start, center, nowrap);

    cursor: pointer;
    margin: 10px;
    text-emphasis-color: black;
    div{
        margin-left: 10px;
    }
    &:hover {
        color: $azul;
    }
}

.footerItemsContainer {
    @include caja-flex(space-evenly, space-evenly, nowrap);
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    width: 80%;
}