@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Sansita+Swashed:wght@300&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sansita Swashed", cursive;
  background-color: #b2dafa;
}

.anchorItem {
  color: #191919;
  text-decoration: none;
  -moz-transition-property: background-color, border-radius, width;
  -webkit-transition-property: background-color, border-radius, width;
  -o-transition-property: background-color, border-radius, width;
  transition-property: background-color, border-radius, width;
  -moz-transition-duration: 1.8s;
  -webkit-transition-duration: 1.8s;
  -o-transition-duration: 1.8s;
  transition-duration: 1.8s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.anchorItem:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
}

.anchorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 500px;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .anchorContainer {
    height: 120px;
    width: auto;
    margin-right: 0px;
    flex-direction: column;
    padding: 8px 0px 8px 0px;
  }
}
.navHorizontalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(178, 218, 250, 0.7);
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.5);
}
.navHorizontalContainer img {
  width: 200px;
  height: 65px;
}

.navVerticalContainer {
  background-color: rgba(178, 218, 250, 0.7);
  box-shadow: 0px 0px 5px rgba(25, 25, 25, 0.5);
}

@media (max-width: 600px) {
  .navHorizontalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 15px;
  }
  .navHorizontalContainer img {
    width: 150px;
    height: 50px;
  }
}
.buttonLink {
  cursor: pointer;
  border-radius: 50px;
  width: 285px;
  height: 285px;
  flex-direction: column;
  z-index: 1;
  clip-path: circle(28% at center);
  background-color: transparent;
  border-color: transparent;
  font-family: "Sansita Swashed", cursive;
  text-decoration: none;
  -moz-transition-property: background-color, clip-path;
  -webkit-transition-property: background-color, clip-path;
  -o-transition-property: background-color, clip-path;
  transition-property: background-color, clip-path;
  -moz-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}
.buttonLink div {
  margin-top: 5px;
}

.buttonLink:hover {
  background-color: #ffe5f0;
  clip-path: circle(100% at center);
}

.galeryContainer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.galeryContainer img {
  border: #fffec2 10px solid;
  border-radius: 5px;
  -moz-transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  -o-transition: transform 0.75s ease;
  transition: transform 0.75s ease;
  width: "400px";
  height: "250px";
}
.galeryContainer img:hover {
  transform: scale(1.05);
}

.footerItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  margin: 10px;
  text-emphasis-color: black;
}
.footerItems div {
  margin-left: 10px;
}
.footerItems:hover {
  color: #b2dafa;
}

.footerItemsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: nowrap;
  width: 80%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  padding-right: 40px;
  padding-left: 10px;
  background-color: #fffec2;
  height: 150px;
  font-size: 90%;
}
.footer img {
  border-radius: 5px;
}

.informationContent h4 {
  border-bottom: #191919 solid 1px;
  border-radius: 5px;
}

.buttonLinksContainer {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 60px;
  width: 100%;
}

.textContent {
  margin: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
}

.homePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.ant-carousel {
  line-height: 0%;
}

.copyrightContainer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.copyrightContainer img {
  width: 40px;
  height: 40px;
}

.labInformationItem {
  background-color: #ffe5f0;
  background-image: url("https://i.imgur.com/Wmff3ve.png");
  background-size: 100% 100%;
  width: 400px;
  height: 320px;
  margin: 15px 10px 0px 10px;
  padding: 10px 10px 0px 10px;
  font-size: 90%;
  border-radius: 20px;
}
.labInformationItem h4 {
  text-align: center;
  font-weight: lighter;
  border-bottom: #191919 1px solid;
}

.labInformationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  font-size: 90%;
  background-color: rgba(255, 254, 194, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 320px;
  border-radius: 15px;
}
.productCard img {
  border-radius: 15px;
  padding-top: 5px;
  height: 200px;
  width: 300px;
  margin-bottom: 15px;
}
.productCard h4 {
  border-bottom: #191919 1px solid;
}

.priceContainer {
  margin-top: 25px;
  margin-bottom: 5px;
}

.productCardList {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 50px 0px 0px 0px;
}

.productsBodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.buttonHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  width: 80%;
}

.createButton {
  background-color: #fffec2;
  border: transparent;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  font-family: "Sansita Swashed", cursive;
  margin: 5px;
}

.cancelButton {
  background-color: #ffe5f0;
  border: transparent;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  font-family: "Sansita Swashed", cursive;
  margin: 5px;
}

.scheduleButton {
  background-color: #fffec2;
  border: transparent;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  cursor: pointer;
  font-family: "Sansita Swashed", cursive;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.createProductForm .input {
  margin-top: 20px;
  width: 250px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: column;
}

.listContainer {
  overflow: scroll;
  height: 50px;
}
.listContainer div {
  height: 20px;
  background-color: #ff9e8e;
  padding: 2px;
  border-radius: 5px;
  margin: 1px;
  display: flex;
  align-items: center;
}

.calendarContainer {
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
}
.calendarContainer .ant-picker-cell {
  height: 90px;
}
.calendarContainer .ant-picker-cell-in-view {
  margin: 10px;
  border-radius: 10px;
}

.ant-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.createAppointmentForm {
  display: flex;
  flex-direction: column;
  height: 650px;
  align-self: flex-start;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 250px;
}
.inputsContainer input {
  border: 1px solid black;
}

.select {
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
}

.modalContainer .ant-modal-body {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
