.createAppointmentForm{
    display: flex;
    flex-direction: column;
    height: 650px;
    align-self: flex-start
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 250px;
    input {
        border: 1px solid black;
    }
}

.select {
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .createAppointmentForm {
        align-self: center;
        height: 200px;
        margin-top: 20px;
    }
    .inputsContainer {
        width: 200px;
        height: 200px;
    }
    .select {
        width: 200px;
    }
}